﻿@model IEnumerable<Models.BoilerParameter.MultipleValues>

@{
    ViewBag.Title = "Circulations";
    Layout = "~/Views/Shared/_LayoutBoilerParameter.cshtml";
}

<link href="@Url.Content("~/Content/CustomBoilerParameter.css")" rel="stylesheet" type="text/css" />

<div class="col-md-10 offset-md-1">
    <h2>Zirkulation</h2>

    <h5>Allgemeine Einstellungen</h5>
    <div>
        @(Html.Kendo().Grid<Models.BoilerParameter.MultipleValues>()
        .Name("GridCirculationsSettings")
        .Columns(columns =>
        {
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.groupOrder)
                .Hidden(true);
            columns.Bound(p => p.name).Width(132);
            columns.Bound(p => p.value1).Width(100);
            columns.Bound(p => p.value2).Width(100);
            columns.Bound(p => p.value3).Width(100);
            columns.Bound(p => p.value4).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadGridCirculationsSettings", "BoilerParameter").Type(HttpVerbs.Post))
        )
        .Resizable(r => r.Columns(true))
    )
    </div>


    <h5>Tagweise</h5>
    <div>
        @(Html.Kendo().Grid<Models.BoilerParameter.MultipleValues>()
        .Name("GridCirculationsDaily")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerDaily(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(100);
            columns.Bound(p => p.value1).Width(100);
            columns.Bound(p => p.value2).Width(100);
            columns.Bound(p => p.value3).Width(100);
            columns.Bound(p => p.value4).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadGridCirculationsDaily", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })

        )
        .Resizable(r => r.Columns(true))

    )
    </div>

    <script>
        function headerDaily(data) {
            switch (data.value) {
                case 0: return "Sonntag"
                case 1: return "Montag"
                case 2: return "Dienstag"
                case 3: return "Mittwoch"
                case 4: return "Donnerstag"
                case 5: return "Freitag"
                case 6: return "Samstag"
                default: return "Error"
            }
        }
    </script>


    <h5>Blockweise</h5>
    <div>
        @(Html.Kendo().Grid<Models.BoilerParameter.MultipleValues>()
        .Name("GridCirculationsBlock")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerBlock(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(100);
            columns.Bound(p => p.value1).Width(100);
            columns.Bound(p => p.value2).Width(100);
            columns.Bound(p => p.value3).Width(100);
            columns.Bound(p => p.value4).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadGridCirculationsBlock", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })

        )
        .Resizable(r => r.Columns(true))

    )
    </div>

    <script>
        function headerBlock(data) {
            switch (data.value) {
                case 0: return "Montag - Freitag"
                case 1: return "Samstag - Sonntag"
                case 2: return "Montag - Sonntag"
                default: return "Error"
            }
        }
    </script>
</div>