﻿@model IEnumerable<Models.BoilerParameter.SingleValue>

@{

    Layout = "~/Views/Shared/_LayoutBoilerParameter.cshtml";
    string kesseltyp = ViewBag.kesseltyp;
}

<link href="@Url.Content("~/Content/CustomBoilerParameter.css")" rel="stylesheet" type="text/css" />

<div class="col-md-4 offset-md-1">
    <h2>Kundenmenü</h2>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridCustomerMenuRZ")
        .Width(500)
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=header(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadCustomerMenuRZ", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })

        )
        .Resizable(r => r.Columns(true))
    )
    </div>


    <script>
        function header(data) {
            switch (data.value) {
                case 0: return "Kesselsollwerte"
                case 1: return "Betriebsstudenzähler"
                case 2: return "Wärmeverteilung"
                case 3: return "IP APP Mail"
                case 4: return "Servicemenü"
                default: return "Error"
            }
        }
    </script>
</div>


