﻿@model IEnumerable<Models.BoilerParameter.SingleValue>

@{

    Layout = "~/Views/Shared/_LayoutBoilerParameter.cshtml";
}

<link href="@Url.Content("~/Content/CustomBoilerParameter.css")" rel="stylesheet" type="text/css" />

<div class="col-md-4 offset-md-1">
    <h2>Kundenmenü</h2>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridCustomerMenuWP1")
        .Width(500)
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerCustomerMenuWP1(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadGridCustomerMenuWP1", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })

        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerCustomerMenuWP1(data) {
            switch (data.value) {
                case 0: return "EVU Lock"
                case 1: return "Nachtabsenkung"
                case 2: return "Betriebsstundenzähler"
                case 3: return "Wärmeverteilung"
                case 4: return "IP APP Mail"
                case 5: return "Servicemenü"
                default: return "Error"
            }
        }
    </script>

    <h5>Sperrzeiten E-Stab / Wärmepumpe</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridCustomerMenuWPBlockingTimes")
        .Width(500)
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerCustomerMenuWPBlockingTimes(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadGridCustomerMenuWPBlockingTimes", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })

        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerCustomerMenuWPBlockingTimes(data) {
            switch (data.value) {
                case 0: return "Einzelzeiten Montag"
                case 1: return "Einzelzeiten Dienstag"
                case 2: return "Einzelzeiten Mittwoch"
                case 3: return "Einzelzeiten Donnerstag"
                case 4: return "Einzelzeiten Freitag"
                case 5: return "Einzelzeiten Samstag"
                case 6: return "Einzelzeiten Sonntag"

                default: return "Error"
            }
        }
    </script>

    @*Parameter aus Kessel.dat file fehlen noch*@


    <h5>Kaskade</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridCustomerMenuWPKaskade")
        .Width(500)
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerCustomerMenuWPKaskade(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadGridCustomerMenuWPKaskade", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })

        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerCustomerMenuWPKaskade(data) {
            switch (data.value) {
                case 0: return "Kaskade"
                default: return "Error"
            }
        }
    </script>

</div>



