﻿@model IEnumerable<Models.BoilerParameter.MultipleValues>

@{
    ViewBag.Title = "DifferenceModuls";
    Layout = "~/Views/Shared/_LayoutBoilerParameter.cshtml";
}

<link href="@Url.Content("~/Content/CustomBoilerParameter.css")" rel="stylesheet" type="text/css" />

<div class="col-md-10 offset-md-1">
    <h2>Regelkreis 1</h2>
    <div>
        @(Html.Kendo().Grid<Models.BoilerParameter.MultipleValues>()
        .Name("GridDifferenceModuls1")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerDifferenceModuls(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(100);
            columns.Bound(p => p.value1).Width(100);
            columns.Bound(p => p.value2).Width(100);
            columns.Bound(p => p.value3).Width(100);
            columns.Bound(p => p.value4).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadGridDifferenceModuls1", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })

        )
        .Resizable(r => r.Columns(true))

    )
    </div>

    <h2>Regelkreis 2</h2>
    <div>
        @(Html.Kendo().Grid<Models.BoilerParameter.MultipleValues>()
        .Name("GridDifferenceModuls2")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerDifferenceModuls(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(100);
            columns.Bound(p => p.value1).Width(100);
            columns.Bound(p => p.value2).Width(100);
            columns.Bound(p => p.value3).Width(100);
            columns.Bound(p => p.value4).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadGridDifferenceModuls2", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })

        )
        .Resizable(r => r.Columns(true))

    )
    </div>

    <script>
        function headerDifferenceModuls(data) {
            switch (data.value) {
                case 0: return "Betriebsart"
                case 1: return "Systemparameter"
                default: return "Error"
            }
        }
    </script>

</div>