﻿@model IEnumerable<Models.BoilerParameter.MultipleValues>

@{
    ViewBag.Title = "DrinkWaterTank";
    Layout = "~/Views/Shared/_LayoutBoilerParameter.cshtml";
}

<link href="@Url.Content("~/Content/CustomBoilerParameter.css")" rel="stylesheet" type="text/css" />

<div class="col-md-10 offset-md-1">
    <h2>Trinkwasserspeicher</h2>

    <h5>Betriebsart</h5>
    <div>
        @(Html.Kendo().Grid<Models.BoilerParameter.MultipleValues>()
        .Name("GridDrinkWaterTanksOperationMode")
        .Columns(columns =>
        {
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.groupOrder)
                .Hidden(true);
            columns.Bound(p => p.name).Width(132);
            columns.Bound(p => p.value1).Width(100);
            columns.Bound(p => p.value2).Width(100);
            columns.Bound(p => p.value3).Width(100);
            columns.Bound(p => p.value4).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadGridDrinkWaterTanksOperationMode", "BoilerParameter").Type(HttpVerbs.Post))
        )
        .Resizable(r => r.Columns(true))
    )
    </div>


    <h5>Tagweise</h5>
    <div>
        @(Html.Kendo().Grid<Models.BoilerParameter.MultipleValues>()
        .Name("GridDrinkWaterTanksDaily")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerDaily(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(100);
            columns.Bound(p => p.value1).Width(100);
            columns.Bound(p => p.value2).Width(100);
            columns.Bound(p => p.value3).Width(100);
            columns.Bound(p => p.value4).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadDrinkWaterTanksDaily", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })

        )
        .Resizable(r => r.Columns(true))

    )
    </div>

    <script>
        function headerDaily(data) {
            switch (data.value) {
                case 0: return "Sonntag"
                case 1: return "Montag"
                case 2: return "Dienstag"
                case 3: return "Mittwoch"
                case 4: return "Donnerstag"
                case 5: return "Freitag"
                case 6: return "Samstag"
                default: return "Error"
            }
        }
    </script>


    <h5>Blockweise</h5>
    <div>
        @(Html.Kendo().Grid<Models.BoilerParameter.MultipleValues>()
        .Name("GridDrinkWaterTanksBlock")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerBlock(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(100);
            columns.Bound(p => p.value1).Width(100);
            columns.Bound(p => p.value2).Width(100);
            columns.Bound(p => p.value3).Width(100);
            columns.Bound(p => p.value4).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadGridDrinkWaterTanksBlock", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })

        )
        .Resizable(r => r.Columns(true))

    )
    </div>

    <script>
        function headerBlock(data) {
            switch (data.value) {
                case 0: return "Montag - Freitag"
                case 1: return "Samstag - Sonntag"
                case 2: return "Montag - Sonntag"
                default: return "Error"
            }
        }
    </script>


    <h5>Einstellungen</h5>
    <div>
        @(Html.Kendo().Grid<Models.BoilerParameter.MultipleValues>()
        .Name("GridDrinkWaterTanksSettings")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerSettings(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(100);
            columns.Bound(p => p.value1).Width(100);
            columns.Bound(p => p.value2).Width(100);
            columns.Bound(p => p.value3).Width(100);
            columns.Bound(p => p.value4).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadGridDrinkWaterTanksSettings", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })

        )
        .Resizable(r => r.Columns(true))

    )
    </div>

    <script>
        function headerSettings(data) {
            switch (data.value) {
                case 0: return "Systemparameter"
                case 1: return "Wärmeableitung"
                default: return "Error"
            }
        }
    </script>

</div>





@* remove tab-stop that appears when grouping in a grid*@
<script>
    function onBound(e) {
        $(".k-group-col,.k-group-cell").remove();
        var spanCells = $(".k-grouping-row").children("td");
        spanCells.attr("colspan", spanCells.attr("colspan") - 1);
    }
</script>
