﻿@model IEnumerable<Models.BoilerParameter.MultipleValues>

@{
    ViewBag.Title = "FreshWaterModules";
    Layout = "~/Views/Shared/_LayoutBoilerParameter.cshtml";
}

<link href="@Url.Content("~/Content/CustomBoilerParameter.css")" rel="stylesheet" type="text/css" />

<div class="col-md-10 offset-md-1">
    <h2>Frischwassermodule</h2>

    <h5>Allgemeine Einstellungen</h5>
    <div>
        @(Html.Kendo().Grid<Models.BoilerParameter.MultipleValues>()
        .Name("GridFreshWaterModulesSettings")
        .Columns(columns =>
        {
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.groupOrder)
                .Hidden(true);
            columns.Bound(p => p.name).Width(193);
            columns.Bound(p => p.value1).Width(100);
            columns.Bound(p => p.value2).Width(100);
            columns.Bound(p => p.value3).Width(100);
            columns.Bound(p => p.value4).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadGridFreshWaterModulesSettings", "BoilerParameter").Type(HttpVerbs.Post))
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <h5>Systemparameter</h5>
    <div>
        @(Html.Kendo().Grid<Models.BoilerParameter.MultipleValues>()
        .Name("GridFreshWaterModulesParameters")
        .Columns(columns =>
        {
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerParameters(data)#");
            columns.Bound(p => p.name).Width(162);
            columns.Bound(p => p.value1).Width(100);
            columns.Bound(p => p.value2).Width(100);
            columns.Bound(p => p.value3).Width(100);
            columns.Bound(p => p.value4).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadGridFreshWaterModulesParameters", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerParameters(data) {
            switch (data.value) {
                case 0: return "Seite 1"
                case 1: return "Seite 2"
                default: return "Error"
            }
        }
    </script>

</div>
