﻿
@{
    ViewBag.Title = "Index";
}

<div class="sidebar shadow">
    <h6 class="upload-section">Upload Section</h6>
    <ul class="nav">
        <li>
            <a href="~/Home/Index">
                Log Daten
            </a>
        </li>
        <li>
            <a href="@Url.Action("UploadAlarm", "Alarms")">
                <span>Alarm Files</span>
            </a>
        </li>
        <li>
            <a href="~/BoilerParameter/IndexKessel">
                <span>Parameter</span>
            </a>
        </li>
        <li>
            <a href="~/BoilerParameter/Maximus">
                <span>Maximus Parameter</span>
            </a>
        </li>
    </ul>
</div>
<main class="pt-3">
    <div class="col-4 k-mt-6 mx-auto">
        <div>
            @(Html.Kendo().Upload()
                .Name("files")
                .Async(a => a
                .Save("Async_Save", "BoilerParameter")
                .Remove("Async_Remove", "BoilerParameter")
                .AutoUpload(true))
                .Validation(validation => validation
                .AllowedExtensions(new string[] { ".dat", ".csv"}))
                .TemplateId("fileTemplate")
                .Events(events => events
                    .Success("upload_Einstellungen_dat")
                )
            )

            <script type="text/javascript">
                function upload_Einstellungen_dat() {
                    var multiselectlist = $("#multiselect_Einstellungen").data("kendoMultiSelect");
                    multiselectlist.dataSource.read();
                }
            </script>
        </div>
        <hr />

        <div>
            @(Html.Kendo().MultiSelect()
                .Name("multiselect_Einstellungen")
                .HtmlAttributes(new { style = "width:100%"})
                .Placeholder("Auszuwertendes Einstellungen.dat and kdaten file auswählen...")
                .DataTextField("Text")
                .DataValueField("Value")
                .DataSource(source => source
                    .Read(read => read
                        .Action("GetEinstellungen", "BoilerParameter"))
                    .ServerFiltering(true)
                )
            )
        </div>
        <hr />
        <div class="d-grid gap-2">
            <button id="btn_auswerten" class="btn btn-info text-white">Auswerten</button>
            <button id="btn_Loschen" class="btn btn-danger">Geladene Einstellungen.dat löschen</button>
        </div>
    </div>
</main>


<script>
    $(function () {
        $("#btn_auswerten").click(function () {
            var einstellungenDat = $("#multiselect_Einstellungen").data("kendoMultiSelect");
            var files = einstellungenDat.dataItems();
            console.log(files);
            if (files.length == 0) {
                alert("Bitte auswählen ein Einstellung.dat und K_daten.csv file!");
            }
            if (files[0].Text == "maximus.dat") {
                alert("Bitte auswählen ein Einstellung.dat und K_daten.csv file!");
            }
           
            if (files.length == 2) {
                for (var i = 0; i < files.length; i++) {
                    if (files[i].Text == "einstellungen.dat" || files[i].Text == "kesselparameter.dat" || files[i].Text == "Einstellungen.dat") {
                        dat1 = files[i].Text;
                    }
                    if (files[i].Text == "k_daten.csv") {
                        dat2 = files[i].Text;
                    }
                }
                var url = '/BoilerParameter/Initialize?Parameter=' + dat1 + '&Parameter2=' + dat2;
                window.location.href = url;
                
            }
            else if (files.length == 1) {
                if (files[0].Text != "einstellungen.dat" || files[0].Text == "kesselparameter.dat" || files[0].Text == "Einstellungen.dat") {
                    alert("Bitte auswählen einstellungen.dat");
                }
                else {
                    dat1 = files[0].Text;
                    dat2 = "Empty";
                    var url = '/BoilerParameter/Initialize?Parameter=' + dat1 + '&Parameter2=' + dat2;
                    window.location.href = url;
                }

            }
            else {
                alert("Bitte auswählen ein Einstellung.dat und K_daten.csv file!");
            }
        });
    });
  
    $(function () {
        $("#btn_Loschen").click(function () {
            $.ajax({
                type: "POST",
                url: "DeleteEinstellungenDat",
                success: function (response) {
                    var dropdownlist = $("#multiselect_Einstellungen").data("kendoMultiSelect");
                    dropdownlist.dataSource.read();
                    dropdownlist.refresh();
                    alert("Gelade Einstellungen.dat gelöscht !")
                },
                error: function (response) {
                    alert("Fehler :/");
                }
            });
        });
    });
</script>