﻿
@model IEnumerable<Models.BoilerParameter.Kdaten>

@{
    ViewBag.Title = "Kdaten Wärmepumpe";
    Layout = "~/Views/Shared/_LayoutBoilerParameter.cshtml";
    string kesseltyp = ViewBag.kesseltyp;
}

<link href="@Url.Content("~/Content/CustomBoilerParameter.css")" rel="stylesheet" type="text/css" />

<div class="col-md-4 offset-1">
    <h2>Zählerstände</h2>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridKdatenWP")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerKdatenWP(data)#");
            columns.Bound(p => p.name);
            columns.Bound(p => p.value);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadKdatenWP", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerKdatenWP(data) {
            switch (data.value) {
                case 0: return "Betriebsstundenzähler"
                case 1: return "Wartung"
                case 2: return "Wärmeverteilung"
                case 3: return "Modultyp"
                case 4: return "IP APP Mail"
                case 5: return "Servicemenü"
                case 6: return "Kaskade"
                default: return "Error"
            }
        }
    </script>



</div>



