﻿@{
    ViewBag.Title = "Index Maximus";
}

<div class="sidebar shadow">
    <h6 class="upload-section">Upload Section</h6>
    <ul class="nav">
        <li>
            <a href="~/Home/Index">
                Log Daten
            </a>
        </li>
        <li>
            <a href="@Url.Action("UploadAlarm", "Alarms")">
                <span>Alarm Files</span>
            </a>
        </li>
        <li>
            <a href="~/BoilerParameter/IndexKessel">
                <span>Parameter</span>
            </a>
        </li>
        <li>
            <a href="~/BoilerParameter/Maximus">
                <span>Maximus Parameter</span>
            </a>
        </li>
    </ul>
</div>
<main class="pt-3">
    <div class="col-4 k-mt-6 mx-auto">
        <div>
            @(Html.Kendo().Upload()
                .Name("files")
                .Async(a => a
                .Save("Async_Save", "BoilerParameter")
                .Remove("Async_Remove", "BoilerParameter")
                .AutoUpload(true))
                .Validation(validation => validation
                .AllowedExtensions(new string[] { ".dat", ".csv" }))
                .TemplateId("fileTemplate")
                .Events(events => events
                    .Success("upload_Maximus_daten")
                )
            )

            <script type="text/javascript">
                function upload_Maximus_daten() {
                    var dropdownlist = $("#multiselect_maximus").data("kendoMultiSelect");
                    dropdownlist.dataSource.read();
                }
            </script>
        </div>
        <hr />

        <div>
            @(Html.Kendo().MultiSelect()
                .Name("multiselect_maximus")
                .HtmlAttributes(new { style = "width:100%"})
                .Placeholder("Auszuwertendes Einstellungen.dat und Maximus.dat file auswählen...")
                .DataTextField("Text")
                .DataValueField("Value")
                .DataSource(source => source
                    .Read(read => read
                        .Action("GetEinstellungen", "BoilerParameter"))
                    .ServerFiltering(true)
                )
            )
        </div>
        <hr />
        <div class="d-grid gap-2">
            <button id="btn_auswerten" class="btn btn-info text-white">Auswerten</button>
            <button id="btn_Loschen" class="btn btn-danger">Geladene Datei löschen</button>
        </div>
    </div>
</main>


<script>
    $(function () {
        $("#btn_auswerten").click(function () {
            var einstellungenDat = $("#multiselect_maximus").data("kendoMultiSelect");
            var files = einstellungenDat.dataItems();
            console.log(files);
            var dat1 = "";
            var dat2 = "";
            var dat3 = "";

            if (files.length == 3) {
                dat1 = files[0].Text;
                dat2 = files[1].Text;
                dat3 = files[2].Text;
                for (var i = 0; i < files.length; i++) {
                    if (files[i].Text == "einstellungen.dat" || files[i].Text == "kesselparameter.dat" || files[i].Text == "Einstellungen.dat") {
                        dat1 = files[i].Text;
                    }
                    if (files[i].Text == "maximus.dat") {
                        dat2 = files[i].Text;
                    }
                    if (files[i].Text == "k_daten.csv") {
                        dat3 = files[i].Text;
                    }
                }
                var url = '/BoilerParameter/InitializeMaximus?Parameter=' + dat1 + '&Parameter2=' + dat2 + '&Parameter3=' + dat3;
                window.location.href = url;
            }
            else if (files.length == 2) {
                for (var i = 0; i < files.length; i++) {
                    if (files[i].Text == "einstellungen.dat" || files[i].Text == "kesselparameter.dat" || files[i].Text == "Einstellungen.dat") {
                        dat1 = files[i].Text;
                    }
                    if (files[i].Text == "maximus.dat") {
                        dat2 = files[i].Text;
                    }
                }
                dat3 = "Empty";
                var url = '/BoilerParameter/InitializeMaximus?Parameter=' + dat1 + '&Parameter2=' + dat2 + '&Parameter3=' + dat3;
                window.location.href = url;
            }
            else
                {
                 alert("Bitte auswählen einstellungen.dat, maximus.dat für maximus Produkt Series");
                }
        });
    });

    $(function () {
        $("#btn_Loschen").click(function () {
            $.ajax({
                type: "POST",
                url: "DeleteEinstellungenDat",
                success: function (response) {
                    var dropdownlist = $("#multiselect_maximus").data("kendoMultiSelect");
                    dropdownlist.dataSource.read();
                    dropdownlist.refresh();
                    alert("Geladene .dat gelöscht !")
                },
                error: function (response) {
                    alert("Fehler :/");
                }
            });
        });
    });
</script>
