﻿@{
    ViewBag.Title = "Alarm";
}

<div class="container">
    <div class="row k-mt-19">
        <div class="col-12">
            <p class="text-primary alarm-info">
                <span class="k-icon k-i-calendar" style="color: lightcoral;"></span>
                Empty!
            </p>
        </div>
    </div>
</div>

