﻿@model IEnumerable<Models.BoilerParameter.SingleValue>

@{
    ViewBag.Title = "Octoplus";
    Layout = "~/Views/Shared/_LayoutBoilerParameter.cshtml";
}

<link href="@Url.Content("~/Content/CustomBoilerParameter.css")" rel="stylesheet" type="text/css" />

<div class="col-md-4 offset-md-1">
    <h2>Octoplus</h2>
    <h5>Differenzladekreis am Leistungsteil</h5>
    <div>
        @(Html.Kendo().Grid<Models.BoilerParameter.SingleValue>()
        .Name("GridOctoplusDifferenceLoadingCircle")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerOctoplusDifferenceLoadingCircle(data)#");
            columns.Bound(p => p.name).Width(100);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadGridOctoplusDifferenceLoadingCircle", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })

        )
        .Resizable(r => r.Columns(true))

    )
    </div>

    <script>
        function headerOctoplusDifferenceLoadingCircle(data) {
            switch (data.value) {
                case 0: return "Betriebsart"
                case 1: return "Systemparameter"
                default: return "Error"
            }
        }
    </script>

    <br />
    <h5>Trinkwasserbereich</h5>
    <div>
        @(Html.Kendo().Grid<Models.BoilerParameter.SingleValue>()
        .Name("GridOctoplusDrinkingWater")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerOctoplusDrinkingWater(data)#");
            columns.Bound(p => p.name).Width(100);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadGridOctoplusDrinkingWater", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })

        )
        .Resizable(r => r.Columns(true))

    )
    </div>

    <script>
        function headerOctoplusDrinkingWater(data) {
            switch (data.value) {
                case 0: return "Allgemeine Einstellungen"
                default: return "Error"
            }
        }
    </script>
</div>