﻿@model IEnumerable<Models.BoilerParameter.SingleValue>

@{
    ViewBag.Title = "Service Menu Maximus";
    Layout = "~/Views/Shared/_LayoutBoilerParameter.cshtml";
    string kesseltyp = ViewBag.kesseltyp;
}

<link href="@Url.Content("~/Content/CustomBoilerParameter.css")" rel="stylesheet" type="text/css" />

<div class="col-md-4 offset-1">
    <h2>ServiceMenu</h2>
    <h5>RLA</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuMaximusRLA")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerMaximusRLA(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuMaximusRLA", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerMaximusRLA(data) {
            switch (data.value) {
                case 0: return "RLA - allgemeine Einstellungen"
                case 1: return "RLA - Mixer(X13)"
                default: return "Error"
            }
        }
    </script>

    <h5>Hackgut oder Pellets Zündung</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuMaximusPZ")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerMaximusPZ(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuMaximusPZ", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerMaximusPZ(data) {
            switch (data.value) {
                case 0: return "Pellets Zündung"
                default: return "Error"
            }
        }
    </script>

    <h5>Pellets Zündung Fachmann</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuMaximusPZF")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerMaximusPZF(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuMaximusPZF", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerMaximusPZF(data) {
            switch (data.value) {
                case 0: return "Einschub"
                case 1: return "Zündung"
                default: return "Error"
            }
        }
    </script>

    <h5>Pellets Betrieb</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuMaximusPB")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerMaximusPB(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuMaximusPB", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerMaximusPB(data) {
            switch (data.value) {
                case 0: return "Pellets Betrieb"
                default: return "Error"
            }
        }
    </script>

    <h5>Pellets Betrieb Fachpersonal</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuMaximusPBF")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerMaximusPBF(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuMaximusPBF", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>
    
    <script>
        function headerMaximusPBF(data) {
            switch (data.value) {
                case 0: return "Einschub Betrieb"
                case 1: return "Einschub Betrieb Optimierung"
                case 2: return "Saugzuggebläse"
                default: return "Error"
            }
        }
    </script>

    <h5>Raumaustragung</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuMaximusRTG")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerMaximusRTG(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuMaximusRTG", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerMaximusRTG(data) {
            switch (data.value) {
                case 0: return "Raumasutragung 1"
                case 1: return "Raumasutragung 2"
                case 2: return "Raumasutragung 3"
                default: return "Error"
            }
        }
    </script>
   
    <h5>Saugaustragung</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuMaximusSA")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerMaximusSA(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuMaximusSA", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerMaximusSA(data) {
            switch (data.value) {
                case 0: return "Saugaustragung"
                default: return "Error"
            }
        }
    </script>

    <h5>Saugaustragung Fachpersonal</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuMaximusSAF")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerMaximusSAF(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuMaximusSAF", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerMaximusSAF(data) {
            switch (data.value) {
                case 0: return "Saugaustragung"
                case 1: return "Raumaustragung"
                default: return "Error"
            }
        }
    </script>

    <h5>Luftklappen</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuMaximusLK")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerMaximusLK(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuMaximusLK", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerMaximusLK(data) {
            switch (data.value) {
                case 0: return "Luftklappen"
                default: return "Error"
            }
        }
    </script>
    
    <h5>Luftklappen Fachpersonal</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuMaximusLKRF")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerMaximusLKRF(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuMaximusLKRF", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerMaximusLKRF(data) {
            switch (data.value) {
                case 0: return "Rezirkulationsluftklappe"
                default: return "Error"
            }
        }
    </script>
    
    <h5>Vorschubrost</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuMaximusVS")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerMaximusVS(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuMaximusVS", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerMaximusVS(data) {
            switch (data.value) {
                case 0: return "Vorschubrost"
                default: return "Error"
            }
        }
    </script>

    <h5>Systemparameter Hackgut oder Pellets</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuMaximusSP")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerMaximusSP(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuMaximusSP", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerMaximusSP(data) {
            switch (data.value) {
                case 0: return "Systemparameter"
                case 1: return "Modultyp"
                default: return "Error"
            }
        }
    </script>

    <h5>Systemparameter Fachpersonal</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuMaximusSPF")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerMaximusSPF(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuMaximusSPF", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerMaximusSPF(data) {
            switch (data.value) {
                case 0: return "Seite 1"
                case 1: return "Seite 2"
                case 2: return "Seite 3"
                case 3: return "Seite 4"
                default: return "Error"
            }
        }
    </script>

    <h5>Systemparameter</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuMaximusSPA")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerMaximusSPA(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuMaximusSPA", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerMaximusSPA(data) {
            switch (data.value) {
                case 0: return "Allgemeine Einstellungen"
                case 1: return "Wartungstermin"
                case 2: return "Fremdkessel/Reserverelais"
                case 3: return "3-Wege-Motorventil"
                case 4: return "Fühlereinstellungen"
                case 5: return "Wärmetauscherreinigung"
                case 6: return "Ascheaustragung Brenner"
                case 7: return "Ascheaustragung Staubabscheider"
                case 8: return "Ascheaustragung Box/Tone"
                case 9: return "Elektrostatischer Staubabscheider"
                case 10: return "Anlagentyp & Nennleistung"
                case 11: return "Saugaustragung Anlagentyp"
                case 12: return "Erweiterungsmodul Typ"
                default: return "Error"
            }
        }
    </script>
</div>



