﻿@model IEnumerable<Models.BoilerParameter.SingleValue>

@{

    Layout = "~/Views/Shared/_LayoutBoilerParameter.cshtml";
}

<link href="@Url.Content("~/Content/CustomBoilerParameter.css")" rel="stylesheet" type="text/css" />

<div class="col-md-4 offset-md-1">
    <h2>Servicemenü</h2>
    <div>
        <h5>Wärmepumpe</h5>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuWP")
        .Width(500)
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerServiceMenuWP(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadGridServiceMenuWP", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })

        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerServiceMenuWP(data) {
            switch (data.value) {
                case 0: return "Heating"
                case 1: return "EVI - valve"
                case 2: return "Cooling"
                case 3: return "Defrost"
                case 4: return "System parameter"
                case 5: return "Fan"
                case 6: return "Primary circuit pump"
                case 7: return "Alarm"
                case 8: return "Oil return"
                default: return "Error"
            }
        }
    </script>


    <div>
        <h5>Elektroheizstab</h5>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuWPHeatingRod")
        .Width(500)
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerServiceMenuWPHeatingRod(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadGridServiceMenuWPHeatingRod", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerServiceMenuWPHeatingRod(data) {
            switch (data.value) {
                case 0: return "Elektroheizstab"
                default: return "Error"
            }
        }
    </script>


    <div>
        <h5>Fremdkessel</h5>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuWPExternalBoiler")
        .Width(500)
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerServiceMenuWPExternalBoiler(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadGridServiceMenuWPExternalBoiler", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerServiceMenuWPExternalBoiler(data) {
            switch (data.value) {
                case 0: return "Kessel Sollwerte"
                case 1: return "RLA - Allgemeine Einstellungen"
                case 2: return "RLA - Mischer(X13)"
                default: return "Error"
            }
        }
    </script>


    <div>
        <h5>Smart Grid</h5>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuWPSmartGrid")
        .Width(500)
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerServiceMenuWPSmartGrid(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadGridServiceMenuWPSmartGrid", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerServiceMenuWPSmartGrid(data) {
            switch (data.value) {
                case 0: return "Smart Grid"
                case 1: return "PV Überschussnutzung"
                default: return "Error"
            }
        }
    </script>


    <div>
        <h5>Priority</h5>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuWPPriority")
        .Width(500)
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerServiceMenuWPPriority(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadGridServiceMenuWPPriority", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerServiceMenuWPPriority(data) {
            switch (data.value) {
                case 0: return "Priority"
                default: return "Error"
            }
        }
    </script>

    <div>
        <h5>Systemparameter</h5>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuWPParameter")
        .Width(500)
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerServiceMenuWPParameter(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadGridServiceMenuWPParameter", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerServiceMenuWPParameter(data) {
            switch (data.value) {
                case 0: return "Allgemeine Einstellungen"
                case 1: return "Fernbedienmodul"
                case 2: return "Wartungstermin"
                default: return "Error"
            }
        }
    </script>
</div>



