﻿@model IEnumerable<Models.BoilerParameter.SingleValue>

@{
    ViewBag.Title = "Service Menu";
    Layout = "~/Views/Shared/_LayoutBoilerParameter.cshtml";
    string kesseltyp = ViewBag.kesseltyp;
}

<link href="@Url.Content("~/Content/CustomBoilerParameter.css")" rel="stylesheet" type="text/css" />

<div class="col-md-4 offset-md-1">
    <h2>Servicemenü</h2>
    <h5>RLA</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuRLA")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerRLA(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuRLA", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerRLA(data) {
            switch (data.value) {
                case 0: return "RLA"
                case 1: return "RLA Mixer X(13)"
                default: return "Error"
            }
        }
    </script>


    <h5>HK-Regler Kesselsollwerte</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuRZSollwerte")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerRZSollwerte(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuRZSollwerte", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerRZSollwerte(data) {
            switch (data.value) {
                case 0: return "Kesselsollwerte"
                default: return "Error"
            }
        }
    </script>

    <h5>Erweiterungsmodul Typ</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuRZErweiterungsmodul")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerRZErweiterungsmodul(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuRZErweiterungsmodul", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerRZErweiterungsmodul(data) {
            switch (data.value) {
                case 0: return "Erweiterungsmodul Typ"
                case 1: return "Servicemenü"
                default: return "Error"
            }
        }
    </script>


</div>


