﻿@model IEnumerable<Models.BoilerParameter.SingleValue>

@{
    ViewBag.Title = "Service Menu";
    Layout = "~/Views/Shared/_LayoutBoilerParameter.cshtml";
    string kesseltyp = ViewBag.kesseltyp;
}

<link href="@Url.Content("~/Content/CustomBoilerParameter.css")" rel="stylesheet" type="text/css" />

<div class="col-md-4 offset-1">
    <h2>ServiceMenu</h2>
    <h5>RLA</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuRLA")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerRLA(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuRLA", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerRLA(data) {
            switch (data.value) {
                case 0: return "RLA - allgemeine Einstellungen"
                case 1: return "RLA - Mixer(X13)"
                default: return "Error"
            }
        }
    </script>

    <h5>Pellets Zündung</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuPZ")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerPZ(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuPZ", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerPZ(data) {
            switch (data.value) {
                case 0: return "Pellets Zündung"
                default: return "Error"
            }
        }
    </script>

    <h5>Pellets Zündung Fachmann</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuPZF")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerPZF(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuPZF", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerPZF(data) {
            switch (data.value) {
                case 0: return "Einschub"
                case 1: return "Saugzuggebläse"
                case 2: return "Abgastemperatur"
                case 3: return "Zündung"
                default: return "Error"
            }
        }
    </script>


    <h5>Pellets Startphase Fachpersonal</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuPSF")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerPSF(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuPSF", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerPSF(data) {
            switch (data.value) {
                case 0: return "Pellets Startphase Fachpersonal"
                default: return "Error"
            }
        }
    </script>

    <h5>Pellets Betrieb</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuPB")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerPB(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuPB", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerPB(data) {
            switch (data.value) {
                case 0: return "Pellets Betrieb"
                default: return "Error"
            }
        }
    </script>

    <h5>Pellets Betrieb Fachmann</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuPBF")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerPBF(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuPBF", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerPBF(data) {
            switch (data.value) {
                case 0: return "Einschub Betrieb"
                case 1: return "Einschub Betrieb Optimierung"
                case 2: return "Saugzuggebläse"
                default: return "Error"
            }
        }
    </script>

    <h5>Saugaustragung</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuSA")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerSA(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuSA", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerSA(data) {
            switch (data.value) {
                case 0: return "Saugaustragung"
                default: return "Error"
            }
        }
    </script>



    <h5>Saugaustragung Fachmann</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuSAF")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerSAF(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuSAF", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerSAF(data) {
            switch (data.value) {
                case 0: return "Saugaustragung"
                case 1: return "Raumaustragung"
                default: return "Error"
            }
        }
    </script>

    <h5>Systemparameter Pellets</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuSPP")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerSPP(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuSPP", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerSPP(data) {
            switch (data.value) {
                case 0: return "Systemparameter Pellets"
                default: return "Error"
            }
        }
    </script>

    <h5>Systemparameter Pellets Fachmann</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuSPPF")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerSPPF(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuSPPF", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerSPPF(data) {
            switch (data.value) {
                case 0: return "Seite 1"
                case 1: return "Seite 2"
                case 2: return "Seite 3"
                default: return "Error"
            }
        }
    </script>


    <h5>Systemparameter</h5>
    <div>
        @(Html.Kendo().Grid(Model)
        .Name("GridServiceMenuSP")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerSP(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(150);
            columns.Bound(p => p.value).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadServiceMenuSP", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })
        )
        .Resizable(r => r.Columns(true))
    )
    </div>

    <script>
        function headerSP(data) {
            switch (data.value) {
                case 0: return "Allgemeine Einstellungen"
                case 1: return "Fernbedienmodul"
                case 2: return "Wartung"
                case 3: return "Fremdkessel"
                case 4: return "3-Wege-Motorventil"
                case 5: return "Fühlereinstellungen"
                case 6: return "Wärmetauscher"
                case 7: return "Aschenbox"
                case 8: return "Notbetrieb für Ausgänge"
                case 9: return "Anlagentyp & Nennleistung"
                case 10: return "Saugaustragung Anlagentyp"
                case 11: return "Erweiterungsmodul Typ"
                default: return "Error"
            }
        }
    </script>

</div>


