﻿@model IEnumerable<Models.BoilerParameter.MultipleValues>

@{
    ViewBag.Title = "Solar";
    Layout = "~/Views/Shared/_LayoutBoilerParameter.cshtml";
}

<link href="@Url.Content("~/Content/CustomBoilerParameter.css")" rel="stylesheet" type="text/css" />

<div class="col-md-10 offset-md-1">
    <h2>Solar</h2>
    <h5>Sollwerte</h5>
    <div>
        @(Html.Kendo().Grid<Models.BoilerParameter.MultipleValues>()
        .Name("GridSolarTargetValues")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerSolarTargetValues(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(100);
            columns.Bound(p => p.value1).Width(100);
            columns.Bound(p => p.value2).Width(100);
            columns.Bound(p => p.value3).Width(100);
            columns.Bound(p => p.value4).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadGridSolarTargetValues", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })

        )
        .Resizable(r => r.Columns(true))

    )
    </div>

    <script>
        function headerSolarTargetValues(data) {
            switch (data.value) {
                case 0: return "1. Speicher"
                case 1: return "2. Speicher"
                case 2: return "3. Speicher"
                case 3: return "Startfunktion"
                case 4: return "2/3 - Kreis Einstellungen"
                case 5: return "Wärmemengenzähler"
                default: return "Error"
            }
        }
    </script>

    <h5>Zusätzliche Funktionen</h5>
    <div>
        @(Html.Kendo().Grid<Models.BoilerParameter.MultipleValues>()
        .Name("GridSolarAdditionalFunctions")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerSolarAdditionalFunctions(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(100);
            columns.Bound(p => p.value1).Width(100);
            columns.Bound(p => p.value2).Width(100);
            columns.Bound(p => p.value3).Width(100);
            columns.Bound(p => p.value4).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadGridSolarAdditionalFunctions", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })

        )
        .Resizable(r => r.Columns(true))

    )
    </div>

    <script>
        function headerSolarAdditionalFunctions(data) {
            switch (data.value) {
                case 0: return "Übertemperaturbegrenzung"
                case 1: return "Frostschutz"
                case 2: return "Wärmeableitung"
                case 3: return "Kühlfunktion"
                default: return "Error"
            }
        }
    </script>

    <h5>Systemparameter</h5>
    <div>
        @(Html.Kendo().Grid<Models.BoilerParameter.MultipleValues>()
        .Name("GridSolarParameters")
        .Columns(columns =>
        {
            columns.Bound(p => p.groupOrder)
                .Hidden(true)
                .ClientGroupHeaderTemplate("#=headerSolarParameters(data)#");
            columns.Bound(p => p.identifier)
                .Hidden(true);
            columns.Bound(p => p.name).Width(100);
            columns.Bound(p => p.value1).Width(100);
            columns.Bound(p => p.value2).Width(100);
            columns.Bound(p => p.value3).Width(100);
            columns.Bound(p => p.value4).Width(100);
        })
        .DataSource(datasource => datasource
            .Ajax()
            .Read(read => read.Action("ReadGridSolarParameters", "BoilerParameter").Type(HttpVerbs.Post))
            .Group(group =>
            {
                group.Add("groupOrder", typeof(string));
            })

        )
        .Resizable(r => r.Columns(true))

    )
    </div>

    <script>
        function headerSolarParameters(data) {
            switch (data.value) {
                case 0: return "Fühlereinstellungen Modul"
                case 1: return "Regelkreis 1"
                case 2: return "Regelkreis 2"
                case 3: return "Fühlereinstellungen Modul 2"
                case 4: return "Regelkreis 3"
                default: return "Error"
            }
        }
    </script>

</div>