﻿@{
    ViewBag.Title = "AuswertungTable";
}
@using Kendo.Mvc
@using System.Data


<main class="pt-3">
    <div class="row mb-2 mt-2 mx-0">
        <div class="col-lg-6">
            <input type="button" id="previous"
                   class="btn btn-primary float-start k-ml-5"
                   style="width:100px;"
                   value="Previous" />
        </div>
        <div class="col-lg-6">
            <input type="button" id="next"
                   class="btn btn-primary float-end k-mr-5"
                   style="width:100px;" value="Next" />
        </div>
    </div>
    <div class="row mx-0">
        <div class="col-lg-4">
            <input type="button" id="backToChart"
                   class="btn btn-primary float-start k-ml-5" style="padding-bottom: 6px;"
                   value="Back to Chart" />
        </div>
        <div class="col-lg-8">
            <h3 class="fileNameTitle">Logfile: <span class="fileName">@ViewBag.Datum</span></h3>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mx-0">
            <div class="col-12">
                <div id="grid-tabela" class="mt-2">
                    @(Html.Kendo().Grid<dynamic>()
                        .Name("Grid_Logdaten")
                        .Columns(columns =>
                        {
                            if (ViewBag.Produktserie.Contains("VampAir K08/K10") || ViewBag.Produktserie.Contains("VampAir K12/K15"))
                            {
                                foreach (System.Data.DataColumn column in Model.Columns)
                                {
                                    if (column.ColumnName == "Datum")
                                    {
                                        columns.Bound(column.ColumnName).Width(100).Locked(true);
                                    }
                                    else if (column.ColumnName == "Uhrzeit")
                                    {
                                        columns.Bound(column.ColumnName).Width(100).Locked(true).Lockable(false).HtmlAttributes(new { @class = "background1" });
                                    }
                                    else if (column.ColumnName == "Aussentemp")
                                    {
                                        columns.Bound(column.ColumnName).Width(55).HtmlAttributes(new { @class = "aussentempBackground" });
                                    }
                                    else if (column.ColumnName == "Verdampfungstemp")
                                    {
                                        columns.Bound(column.ColumnName).Width(55).HtmlAttributes(new { @class = "verdampfungstempBackground" });
                                    }
                                    else if (column.ColumnName == "Kondensationstemp")
                                    {
                                        columns.Bound(column.ColumnName).Width(55).HtmlAttributes(new { @class = "kondensationstempBackground" });
                                    }
                                    else if (column.ColumnName == "Kompressordrehzahl")
                                    {
                                        columns.Bound(column.ColumnName).Width(55).HtmlAttributes(new { @class = "kompressordrehzahlBackground" });
                                    }
                                    else if (column.ColumnName.Contains("Verdampfer"))
                                    {
                                        columns.Bound(column.ColumnName).Width(55).HtmlAttributes(new { @class = "uberhitzunhgVerdampferBackground" });
                                    }
                                    else if (column.ColumnName.Contains("Kompressor"))
                                    {
                                        columns.Bound(column.ColumnName).Width(55).HtmlAttributes(new { @class = "uberhitzungKompressorBackground" });
                                    }
                                    else if (column.ColumnName.Contains("Opening"))
                                    {
                                        columns.Bound(column.ColumnName).Width(55).HtmlAttributes(new { @class = "coolingValveOpeningBackground" });
                                    }
                                    else if (column.ColumnName.Contains("Heizen"))
                                    {
                                        columns.Bound(column.ColumnName).Width(55).HtmlAttributes(new { @class = "OeffnungsgradExVentilHeizen" });
                                    }
                                    else if (column.ColumnName == "Betriebszustand_Luefter")
                                    {
                                        columns.Bound(column.ColumnName).Width(200);
                                    }
                                    else if (column.ColumnName == "Defrost_Reason_368")
                                    {
                                        columns.Bound(column.ColumnName).Width(200);
                                    }
                                    else if (column.ColumnName == "iPWM_state")
                                    {
                                        columns.Bound(column.ColumnName).Width(200);
                                    }
                                    else if (column.ColumnName == "Statuszeile_WP")
                                    {
                                        columns.Bound(column.ColumnName).Width(250).HtmlAttributes(new { @class = "background1" });
                                    }
                                    else if (column.ColumnName == "E_Stab")
                                    {
                                        columns.Bound(column.ColumnName).Width(30).HtmlAttributes(new { @class = "background1" });
                                    }
                                    else
                                    {
                                        columns.Bound(column.ColumnName).Width(55);
                                    }
                                }
                            }
                            else
                            {
                                foreach (System.Data.DataColumn column in Model.Columns)
                                {

                                    if (column.ColumnName == "Datum")
                                    {
                                        columns.Bound(column.ColumnName).Width(100).Locked(true);
                                    }
                                    else if (column.ColumnName == "Uhrzeit")
                                    {
                                        columns.Bound(column.ColumnName).Width(100).Locked(true).Lockable(false).HtmlAttributes(new { @class = "background1" });
                                    }
                                    else if (column.ColumnName == "Aussentemp")
                                    {
                                        columns.Bound(column.ColumnName).Width(55);
                                    }
                                    else if (column.ColumnName == "Statuszeile")
                                    {
                                        columns.Bound(column.ColumnName).Width(130);
                                    }
                                    else
                                    {
                                        columns.Bound(column.ColumnName).Width(58);
                                    }
                                }
                            }
                        })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(1440)
                            .Model(model =>
                            {
                                foreach (System.Data.DataColumn column in Model.Columns)
                                {
                                    var field = model.Field(column.ColumnName, column.DataType);
                                }
                            })
                            .Read(read => read
                            .Action("Read", "Home", new { Logfile = ViewBag.Logfile, Produktserie = ViewBag.Produktserie })
                        ))
                        .Scrollable()
                        .HtmlAttributes(new { style = "height: 900px;"})
                        .Resizable(r => r.Columns(true)))
                    @(Html.Kendo().Tooltip()
                        .For("#Grid_Logdaten")
                        .Filter("th")
                        .Position(TooltipPosition.Bottom)
                        .Width(200)
                     )
                </div>
            </div>
        </div>
    </div>
</main>

<script src="~/Scripts/Home/auswertungTable.js"></script>
