﻿@{
    ViewBag.Title = "Home Index";
}
<div class="sidebar shadow">
    <h6 class="upload-section">Upload Section</h6>
    <ul class="nav">
        <li>
            <a href="~/Home/Index">
                Log Daten
            </a>
        </li>
        <li>
            <a href="~/Alarms/UploadAlarm">
                <span>Alarm Files</span>
            </a>
        </li>
        <li>
            <a href="~/BoilerParameter/IndexKessel">
                <span>Parameter</span>
            </a>
        </li>
        <li>
            <a href="~/BoilerParameter/Maximus">
                <span>Maximus Parameter</span>
            </a>
        </li>
    </ul>
</div>
<main>
    <div class="col-4 k-mt-10 mx-auto">
        <div>
            @(Html.Kendo().Upload()
                .Name("files")
                .Async(a => a
                .Save("Async_Save", "Home")
                .Remove("Async_Remove", "Home")
                .AutoUpload(true)
                )
                .Validation(validation => validation
                .AllowedExtensions(new string[] {".xls", ".txt", ".zip",".rar"})
                )
                .TemplateId("fileTemplate")
                .Events(events => events
                    .Success("upload_Logdaten_success")
                )
            )
            <script type="text/javascript">
                function upload_Logdaten_success() {
                    var dropdownlist = $("#dropdownlist_Logdaten").data("kendoDropDownList");
                    dropdownlist.dataSource.read();
                }
            </script>
        </div>
        <hr />

        <div>
            @(Html.Kendo().DropDownList()
                .Name("dropdownlist_Kesseltyp")
                .HtmlAttributes(new { style = "width:100%" })
                .OptionLabel("Produktserie auswählen...")
                .DataTextField("Text")
                .DataValueField("Value")
                .BindTo(new List<SelectListItem>()
                {
                    new SelectListItem()
                    {
                        Text = "EcoTop | EcoTopZero | Pellet Elegance | OctoPlus | Maximus | Regelzentrale", Value= "1"
                    },
                    new SelectListItem()
                    {
                        Text = "VampAir K08/K10", Value= "2"
                    },
                    new SelectListItem()
                    {
                        Text = "VampAir K12/K15", Value= "3"
                    },
                    new SelectListItem()
                    {
                        Text = "Therminator", Value= "4"
                    }
                })
                )
        </div>
        <hr />
        <div>
            @(Html.Kendo().DropDownList()
                .Name("dropdownlist_Logdaten")
                .HtmlAttributes(new { style = "width:100%" })
                .OptionLabel("Auszuwertendes Logfile auswählen...")
                .DataTextField("Text")
                .DataValueField("Value")
                .DataSource(source => source
                    .Read(read => read
                        .Action("FilterLogFiles", "Home").Data("filterKesselTyp")
                    )
                    .ServerFiltering(true)
                )
                 .Enable(false)
                 .AutoBind(false)
                 .CascadeFrom("dropdownlist_Kesseltyp")
            )
        </div>
        <hr />
        <div class="d-grid gap-2">
            <button id="btn_Auswerten" class="btn btn-info text-white">Auswerten</button>
            <button id="btn_Loschen" class="btn btn-danger">Geladene Logfiles löschen</button>
        </div>
    </div>
</main>

<script src="~/Scripts/Home/index.js"></script>