﻿@{ 
    ViewBag.Title = "Alarm Table";
}

@using Kendo.Mvc
@using System.Data

<div class="container-fluid">
    <div class="row mx-0 mt-2">
        <div class="col-12">
            @if (Session["Kesseltyp"] != null)
            {
                <div class="row">
                    <div class="col-12 mx-3">
                        <span class="k-icon k-i-undo" style="color: red"></span>
                        @Html.ActionLink("Back to last chart", "Auswertung", "Home",
                            new { Produktserie = Session["Kesseltyp"], Logfile = Session["Logfile"], Visibleseries = "spaceholder" },
                            new { @class = "back-to-diagram" })
                    </div>
                </div>
            }
                <div id="grid-alarm-tabela" class="k-mt-4 k-px-5">
                    @(Html.Kendo().Grid<dynamic>()
                    .Name("Alarm_Statistik")
                    .Columns(columns =>
                    {
                        foreach (System.Data.DataColumn column in Model.Columns)
                        {
                            if (column.ColumnName == "Nr")
                            {
                                columns.Bound(column.ColumnName).Title("Nummer").Width(10);
                            }
                            else if (column.ColumnName == "St")
                            {
                                columns.Bound(column.ColumnName).Title("#").Width(10);
                            }
                            else if (column.ColumnName == "Datum")
                            {
                                columns.Bound(column.ColumnName).Width(15);
                            }
                            else if (column.ColumnName == "Zeit")
                            {
                                columns.Bound(column.ColumnName).Width(15);
                            }
                            else if (column.ColumnName == "Zeitformat")
                            {
                                columns.Bound(column.ColumnName).Title("Datum und Zeit").Width(15);
                            }
                            else if (column.ColumnName == "Alarmgruppennummer")
                            {
                                columns.Bound(column.ColumnName).Title("Gruppen Nummer").Width(10);
                            }
                            else if (column.ColumnName == "Alarmnummer")
                            {
                                columns.Bound(column.ColumnName).Title("Nummer").Width(10);
                            }
                            else if (column.ColumnName == "Alarmtext")
                            {
                                columns.Bound(column.ColumnName).Title("Text").Width(100);
                            }
                            else if (column.ColumnName == "Alarmstatus")
                            {
                                columns.Bound(column.ColumnName).Title("Status").Width(10);
                            }
                            else if (column.ColumnName == "Quittierstatus")
                            {
                                columns.Bound(column.ColumnName).Width(10);
                            }
                            else
                            {
                                columns.Bound(column.ColumnName).Width(100);
                            }
                        }
                    })
                    .Selectable(selectable => selectable
                    .Mode(GridSelectionMode.Single)
                    .Type(GridSelectionType.Cell))
                    .Events(e => e
                        .Change("onChange")
                    )
                   .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(30)
                        .Model(model =>
                        {
                            foreach (System.Data.DataColumn column in Model.Columns)
                            {
                                var field = model.Field(column.ColumnName, column.DataType).Editable(false);
                            }
                        })
                        .Read(read => read
                        .Action("Read_Alarm", "Alarms", new { Alarmfile = ViewBag.Alarmfile })
                        )
                        .ServerOperation(false)
                        )
                        .Pageable(pageable => pageable
                        .PageSizes(new[] { 10, 30, 60 })
                        .ButtonCount(5)
                    )
                    .Scrollable(s => s.Height("auto"))
                    .Resizable(r => r.Columns(true))
                )
                </div>
            </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/Alarms/alarmTable.js"></script>