﻿@model IEnumerable<WebApplication2.Models.Alarm>
@{
    ViewBag.Title = "Editing_Inline";
}

@(Html.Kendo().Grid<WebApplication2.Models.Alarm>()
    .Name("alarmGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Id);
        columns.Bound(p => p.AlarmCode);
        columns.Bound(p => p.AlarmText);
        columns.Bound(p => p.KesselTyp);
        columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
    })
    .ToolBar(toolbar => toolbar.Create())
    .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Continue to delete this record?").DisplayDeleteConfirmation("Continue to delete this record?"))
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Events(events => events.Error("error_handler"))
        .Model(model => model.Id(p => p.Id))
        .Read(read => read.Action("Editing_Inline_Read", "Alarms").Type(HttpVerbs.Get))
        .Create(update => update.Action("EditingInline_Create", "Alarms"))
        .Update(update => update.Action("EditingInline_Update", "Alarms"))
        .Destroy(update => update.Action("EditingInline_Destroy", "Alarms"))
    )
)
<script>
    function onChange(e) {
        var kesselTyp = $("#dropdownlist_Kesseltyp").data().kendoDropDownList.text();
        var url = '/Alarms/Status?Kesseltyp=' + kesselTyp;
        window.location.href = url;
    }
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>