﻿@model IEnumerable<WebApplication2.Models.Alarm>
<!--model WebApplication2.Models.Alarm-->
@{
    ViewBag.Title = "Index Inline Editing";
}

<div class="row k-mt-8 k-ml-0 k-mr-0">
    <div class="col-12 alarm-grid">
        @(Html.Kendo().Grid<WebApplication2.Models.Alarm>()
            .Name("alarmGrid")
            .Columns(columns =>
            {
                columns.Bound(p => p.PartitionKey).Width(180);
                columns.Bound(p => p.RowKey).Width(320);
                columns.Bound(p => p.de).Width(320);
                columns.Bound(p => p.en);
                       //.Filterable(filterable => filterable.UI("kesselTypFilter")).Width(350);
               /* columns.Command(command => {
                    command.Edit();
                    command.Destroy(); }).Title("Actions").Width(350);*/
            })
            .Filterable(filterable => filterable
            .Extra(false)
            .Operators(operators => operators
                .ForString(str => str.Clear()
                .StartsWith("Starts with")
                .IsEqualTo("Is equal")
                .IsNotEqualTo("Is not equal")
                .Contains("Contains"))
            ))
            .ToolBar(toolbar => toolbar.Create())
            .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Continue to delete this record?").DisplayDeleteConfirmation("Continue to delete this record?"))
            .Pageable()
            .Sortable()
            .Scrollable()
            .HtmlAttributes(new { style = "height:80vh;" })
            .DataSource(dataSource => dataSource
                .Ajax()
                //.AutoSync(false)
                //.Batch(true)
                .ServerOperation(false)
                .PageSize(15)
                .Events(events => events.Error("error_handler"))
                .Model(model => model.Id(a => a.PartitionKey))
                .Read(read => read.Action("Editing_Inline_Read", "Alarms"))
                .Create(update => update.Action("Editing_Inline_Create", "Alarms"))
                .Update(update => update.Action("Editing_Inline_Update", "Alarms"))
                .Destroy(update => update.Action("Editing_Inline_Destroy", "Alarms"))
            )
        )
    </div>
</div>

<script src="~/Scripts/Alarms/index.js"></script>

