﻿@model IEnumerable<WebApplication2.Models.Alarm>
@{
    ViewBag.Title = "Alarm Info";
}

<div class="row mt-4 k-ml-0 k-mr-0">
    <div class="col-12 alarm-grid">
        @(Html.Kendo().Grid<WebApplication2.Models.Alarm>()
        .Name("alarmGrid")
        .Columns(columns =>
        {
            columns.Bound(p => p.AlarmCode).Width(180);
           // columns.Bound(p => p.AlarmText).Width(320);
            //columns.Bound(p => p.KesselTyp).Width(350);
        })
        .Pageable()
        .Scrollable()
        .HtmlAttributes(new { style = "height:80vh;" })
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(15)
            .Events(events => events.Error("error_handler"))
        //  .Read(read => read.Action("InfoKessel", "Alarms"))
        )
        )
    </div>
</div>



<script>
    //show server errors if any
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

     function kesselTypFilter(element) {
        element.kendoDropDownList({
            dataSource: {
                transport: {
                    read: "@Url.Action("InfoKessel", "Alarms", new { Kesseltyp = "Therminator" })";
                }
            },
            optionLabel: "--Select Value--"
        });
    }
</script>
