﻿@{
    ViewBag.Title = "Alarm";
}

<div class="container">
    <div class="row k-mt-19">
        <div class="col-12">
            <p class="text-primary alarm-info">
                <span class="k-icon k-i-calendar" style="color: lightcoral;"></span>
                Zu diesem Datum wurde kein Alarm-Statistik gefunden !
            </p>
            <span class="k-icon k-i-undo" style="color: lightcoral;"></span>
            @Html.ActionLink("Züruck zur vorherigen Seite", null, null, null, new { @class = "alarm-info", href = Request.UrlReferrer })
        </div>
    </div>
</div>

