﻿@{
    ViewBag.Title = "Alarm Index";
}

@using Kendo.Mvc
@using System.Data

<div class="sidebar shadow">
    <h6 class="upload-section">Upload Section</h6>
    <ul class="nav">
        <li>
            <a href="~/Home/Index">
                Log Daten
            </a>
        </li>
        <li>
            <a href="@Url.Action("UploadAlarm", "Alarms")">
                <span>Alarm Files</span>
            </a>
        </li>
        <li>
            <a href="~/BoilerParameter/IndexKessel">
                <span>Parameter</span>
            </a>
        </li>
        <li>
            <a href="~/BoilerParameter/Maximus">
                <span>Maximus Parameter</span>
            </a>
        </li>
    </ul>
</div>
<main class="pt-3">
    <div class="col-4 k-mt-6 mx-auto">
        <div>
            @(Html.Kendo().Upload()
                .Name("files")
                .Async(a => a
                .Save("Async_Save", "Alarms")
                .Remove("Async_Remove", "Alarms")
                .AutoUpload(true))
                .Validation(validation => validation
                .AllowedExtensions(new string[] { ".xls", ".txt" }))
                .TemplateId("fileTemplate")
                .Events(events => events
                    .Success("upload_Logdaten_success")
                )
            )

            <script type="text/javascript">
                function upload_Logdaten_success() {
                    var dropdownlist = $("#dropdownlist_Alarmfile").data("kendoDropDownList");
                    dropdownlist.dataSource.read();
                }
            </script>
        </div>
        <hr />

        <div>
            @(Html.Kendo().DropDownList()
                .Name("dropdownlist_Alarmfile")
                .HtmlAttributes(new { style = "width:100%"})
                .OptionLabel("Auszuwertendes Alarm file auswählen...")
                .DataTextField("Text")
                .DataValueField("Value")
                .DataSource(source => source
                    .Read(read => read
                        .Action("GetAlarmFiles", "Alarms"))
                    .ServerFiltering(true)
                )
            )
        </div>
        <hr />
        <div class="d-grid gap-2">
            <button id="btn_auswerten" class="btn btn-info text-white">Auswerten</button>
            <button id="btn_Loschen" class="btn btn-danger">Geladene Alarmfiles löschen</button>
        </div>
    </div>
</main>

<script>
    $(function () {
        $("#btn_auswerten").click(function () {
            var alarmfile = $("#dropdownlist_Alarmfile").data().kendoDropDownList.text();
           
           if (alarmfile == "Auszuwertendes Alarm file auswählen...") {
                alert("Bitte wählen Sie ein Logfile aus!");
                return;
            }
            var url = '/Alarms/AlarmTable?Alarmfile=' + alarmfile;
            window.location.href = url;
        });
    });

    $(function () {
        $("#btn_Loschen").click(function () {
            $.ajax({
                type: "POST",
                url: "DeleteAlarmFile",
                success: function (response) {
                    var dropdownlist = $("#dropdownlist_Alarmfile").data("kendoDropDownList");
                    dropdownlist.dataSource.read();
                    dropdownlist.refresh();
                    alert("Gelade Alarmfiles gelöscht !")
                },
                error: function (response) {
                    alert("Fehler :/");
                }
            });
        });
    });
</script>

