﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - My Telerik MVC Application</title>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <link href="https://cdn.kendostatic.com/2021.2.616/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/EvaluationPage.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/all.css" rel="stylesheet">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <div class="container-fluid navbar-dark p-0 bg-primary" style="position: fixed; z-index: 2">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary p-0 flex-md-nowrap" style="overflow: visible">
                @if (Session["sid"] != null)
                {
                    <a class="navbar-brand pb-0" href="~/Home/Index"><span class="k-icon fas fa fa-home menu-icon menu-icon-navbar k-mb-1"></span>SOLARFOCUS</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                }
                else
                {
                    <a class="navbar-brand k-pl-5"><span class="k-icon fas fa fa-home menu-icon menu-icon-navbar k-mb-1"></span>SOLARFOCUS</a>
                }
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if (Session["sid"] != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" style="color:white" href="~/BoilerParameter/IndexKessel"><span class="k-icon fas fa-parking k-mr-1 k-mb-1"></span>Parameter</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color:white" href="~/Home/Index"><span class="k-icon fas fa-chart-area menu-icon k-mr-1 k-mb-1"></span>Diagramm</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color:white" href="~/Alarms/UploadAlarm"><span class="k-icon fas fa-exclamation-triangle menu-icon k-mr-1 k-mb-1 k-pr-5"></span>Alarm Statistik</a>
                            </li>
                        }
                    </ul>
                    <div class="form-inline">
                        <ul class="navbar-nav">
                            @if (Session["sid"] != null)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" style="color:white" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Willkommen @Session["username"]
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="/Users/Logout">Logout</a></li>
                                    </ul>
                                </li>
                            }
                            <li class="nav-item k-mr-5">
                                @if (Session["sid"] == null)
                                {
                                    <a class="nav-link" href="/Users/Login"><span class="k-icon k-i-user colored-icon menu-icon k-mb-1"></span>Login</a>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="sidebar">
        <ul class="nav">
            @{
                @* Regelzentrale*@
                if (Session["kesseltyp"].ToString() == "HK_Regelung")
                {
                    <li>
                        <a href="@Url.Action("CustomerMenuRZ", "BoilerParameter")">
                            Kundenmenü
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ServiceMenuRegelzentrale", "BoilerParameter")">
                            <span>Servicemenü</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("HeatingCircuits", "BoilerParameter")">
                            <span>Heizkreise</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("DrinkWaterTanks", "BoilerParameter")">
                            <span>Trinkwasserspeicher</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("FreshWaterModules", "BoilerParameter")">
                            <span>Frischwassermodule</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Circulations", "BoilerParameter")">
                            <span>Zirkulation</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Buffers", "BoilerParameter")">
                            <span>Puffer</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Solar", "BoilerParameter")">
                            <span>Solar</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("DifferenceModuls", "BoilerParameter")">
                            <span>Differenzmodul</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Wetterfrosch", "BoilerParameter")">
                            <span>Wetterfrosch</span>
                        </a>
                    </li>
                    <li>
                        <span id="chart" class="k-ml-2 k-mb-1">Temp File</span>
                    </li>
                        if (Session["logfile"] != null && Session["kesseltyp"] != null)
                        {
                        <li>
                            <a href="@Url.Action("Auswertung", "Home", new { Produktserie = Session["typ"], Logfile=Session["logfile"],  Visibleseries = "spaceholder"})" class="temp-file">
                                <span id="chart" class="k-icon fas fa-chart-area iconClass-lg k-mb-1"></span>
                                Zurück zum Diagram
                            </a>
                        </li>
                    }
                    if (Session["alarmfile"] != null)
                    {
                        <li>
                            <a href="@Url.Action("Auswertung", "Home", new { Produktserie = Session["typ"], Logfile=Session["logfile"],  Visibleseries = "spaceholder"})" class="temp-file">
                                <span id="Alarm" class="k-icon fas fa fa-exclamation-triangle iconClass-lg"></span>
                                Zurück zum Statistik
                            </a>
                        </li>
                    }
                }

                @* Wärmepumpe*@
                else if (Session["kesseltyp"].ToString()  == "WP")
                {
                    <li>
                        <a href="@Url.Action("CustomerMenuWP", "BoilerParameter")">
                            Kundenmenü
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ServiceMenuWP", "BoilerParameter")">
                            <span>Servicemenü</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("HeatingCircuitsWP", "BoilerParameter")">
                            <span>Heizkreise</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("DrinkWaterTanks", "BoilerParameter")">
                            <span>Trinkwasserspeicher</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("FreshWaterModules", "BoilerParameter")">
                            <span>Frischwassermodule</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Circulations", "BoilerParameter")">
                            <span>Zirkulation</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Buffers", "BoilerParameter")">
                            <span>Puffer</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Solar", "BoilerParameter")">
                            <span>Solar</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("DifferenceModuls", "BoilerParameter")">
                            <span>Differenzmodul</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Wetterfrosch", "BoilerParameter")">
                            <span>Wetterfrosch</span>
                        </a>
                    </li>
                    <li>
                        <span id="chart" class="k-ml-2 k-mb-1">Temp File</span>
                    </li>
                    if (Session["logfile"] != null && Session["kesseltyp"] != null)
                    {
                        <li>
                            <a href="@Url.Action("Auswertung", "Home", new { Produktserie = Session["typ"], Logfile=Session["logfile"],  Visibleseries = "spaceholder"})" class="temp-file">
                                <span id="chart" class="k-icon fas fa-chart-area iconClass-lg k-mb-1"></span>
                                Zurück zum Diagram
                            </a>
                        </li>
                    }
                    if (Session["alarmfile"] != null)
                    {
                        <li>
                            <a href="#" style="text-decoration: none; white-space:nowrap">
                                <span id="Alarm" class="k-icon fas fa fa-exclamation-triangle iconClass-lg"></span>
                                Zurück zum Statistik
                            </a>
                        </li>
                    }
                }
                @* Maximus*@
                else if (Session["kesseltyp"].ToString() == "Maximus")
                {
                    <li>
                        <a href="@Url.Action("CustomerMenu", "BoilerParameter")">
                            Kundenmenü
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ServiceMenuMaximus", "BoilerParameter")">
                            <span>Servicemenü</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("HeatingCircuits", "BoilerParameter")">
                            <span>Heizkreise</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("DrinkWaterTanks", "BoilerParameter")">
                            <span>Trinkwasserspeicher</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("FreshWaterModules", "BoilerParameter")">
                            <span>Frischwassermodule</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Circulations", "BoilerParameter")">
                            <span>Zirkulation</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("BuffersMaximus", "BoilerParameter")">
                            <span>Puffer</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Solar", "BoilerParameter")">
                            <span>Solar</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("DifferenceModuls", "BoilerParameter")">
                            <span>Differenzmodul</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Wetterfrosch", "BoilerParameter")">
                            <span>Wetterfrosch</span>
                        </a>
                    </li>
                    <li>
                        <span id="chart" class="k-ml-2 k-mb-1">Temp File</span>
                    </li>

                    if (Session["logfile"] != null && Session["kesseltyp"] != null)
                    {
                        <li>
                            <a href="@Url.Action("Auswertung", "Home", new { Produktserie = Session["typ"], Logfile=Session["logfile"],  Visibleseries = "spaceholder"})" class="temp-file">
                                <span id="chart" class="k-icon fas fa-chart-area iconClass-lg k-mb-1"></span>
                                Zurück zum Diagram
                            </a>
                        </li>
                    }
                    if (Session["alarmfile"] != null)
                    {
                        <li>
                            <a href="#" style="text-decoration: none; white-space:nowrap">
                                <span id="Alarm" class="k-icon fas fa fa-exclamation-triangle iconClass-lg"></span>
                                Zurück zum Statistik
                            </a>
                        </li>
                    }
                }
                @* Octoplus*@
                else if (Session["kesseltyp"].ToString() == "Plus")
                {
                    <li>
                        <a href="@Url.Action("CustomerMenu", "BoilerParameter")">
                            Kundenmenü
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ServiceMenu", "BoilerParameter")">
                            <span>Servicemenü</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("HeatingCircuits", "BoilerParameter")">
                            <span>Heizkreise</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("DrinkWaterTanks", "BoilerParameter")">
                            <span>Trinkwasserspeicher</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("FreshWaterModules", "BoilerParameter")">
                            <span>Frischwassermodule</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Circulations", "BoilerParameter")">
                            <span>Zirkulation</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Buffers", "BoilerParameter")">
                            <span>Puffer</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Solar", "BoilerParameter")">
                            <span>Solar</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("DifferenceModuls", "BoilerParameter")">
                            <span>Differenzmodul</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Wetterfrosch", "BoilerParameter")">
                            <span>Wetterfrosch</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Octoplus", "BoilerParameter")">
                            <span>Octoplus</span>
                        </a>
                    </li>
                    <li>
                        <span id="chart" class="k-ml-2 k-mb-1">Temp File</span>
                    </li>
                    if (Session["logfile"] != null && Session["kesseltyp"] != null)
                    {
                        <li>
                            <a href="@Url.Action("Auswertung", "Home", new { Produktserie = Session["typ"], Logfile=Session["logfile"],  Visibleseries = "spaceholder"})" class="temp-file">
                                <span id="chart" class="k-icon fas fa-chart-area iconClass-lg k-mb-1"></span>
                                Zurück zum Diagram
                            </a>
                        </li>
                    }
                    if (Session["alarmfile"] != null)
                    {
                        <li>
                            <a href="#" style="text-decoration: none; white-space:nowrap">
                                <span id="Alarm" class="k-icon fas fa fa-exclamation-triangle iconClass-lg"></span>
                                Zurück zum Statistik
                            </a>
                        </li>
                    }
                }
                @* Default*@
                else
                {
                    <li>
                        <a href="@Url.Action("CustomerMenu", "BoilerParameter")">
                            Kundenmenü
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ServiceMenu", "BoilerParameter")">
                            <span>Servicemenü</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("HeatingCircuits", "BoilerParameter")">
                            <span>Heizkreise</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("DrinkWaterTanks", "BoilerParameter")">
                            <span>Trinkwasserspeicher</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("FreshWaterModules", "BoilerParameter")">
                            <span>Frischwassermodule</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Circulations", "BoilerParameter")">
                            <span>Zirkulation</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Buffers", "BoilerParameter")">
                            <span>Puffer</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Solar", "BoilerParameter")">
                            <span>Solar</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("DifferenceModuls", "BoilerParameter")">
                            <span>Differenzmodul</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Wetterfrosch", "BoilerParameter")">
                            <span>Wetterfrosch</span>
                        </a>
                    </li>
                    <li>
                        <span id="chart" class="k-ml-2 k-mb-1">Temp File</span>
                    </li>
                    if (Session["logfile"] != null && Session["kesseltyp"] != null)
                    {
                        <li>
                            <a href="@Url.Action("Auswertung", "Home", new { Produktserie = Session["typ"], Logfile=Session["logfile"],  Visibleseries = "spaceholder"})" class="temp-file">
                                <span id="chart" class="k-icon fas fa-chart-area iconClass-lg k-mb-1"></span>
                                Zurück zum Diagram
                            </a>
                        </li>
                    }
                    if (Session["alarmfile"] != null)
                    {
                        <li>
                            <a href="@Url.Action("AlarmTable", "Alarms", new { Alarmfile = Session["alarmfile"] })" style="text-decoration: none; white-space:nowrap">
                                <span id="Alarm" class="k-icon fas fa fa-exclamation-triangle iconClass-lg"></span>
                                Zurück zum Statistik
                            </a>
                        </li>
                    }
                }
            }
        </ul>
    </div>
    <div class="main">
        @RenderBody()
    </div>
</body>
</html>
