﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AuswerteTool</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/kendo/2021.2.616/css")

    @*kendo bootstrap*@
    @Styles.Render("~/Content/kendobootstrap/css")
    @Scripts.Render("~/bundles/kendo")
    <link href="~/Content/all.css" rel="stylesheet">
    @Styles.Render("~/Content/css")

    @*Google fonts*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container-fluid navbar-dark p-0 bg-primary" >
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary p-0 flex-md-nowrap" style="overflow: visible">
                @if (Session["sid"] != null)
                {
                    <a class="navbar-brand pb-0" href="~/Home/Index"><span class="k-icon fas fa fa-home menu-icon menu-icon-navbar k-mb-1"></span>SOLARFOCUS</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                }
                else
                {
                    <a class="navbar-brand k-pl-5"><span class="k-icon fas fa fa-home menu-icon menu-icon-navbar k-mb-1"></span>SOLARFOCUS</a>
                }
                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="overflow: visible">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if (Session["sid"] != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="~/BoilerParameter/IndexKessel"><span class="k-icon fas fa-parking k-mr-1 k-mb-1"></span>Parameter</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Home/Index"><span class="k-icon fas fa-chart-area menu-icon k-mr-1 k-mb-1"></span>Diagramm</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Alarms/UploadAlarm"><span class="k-icon fas fa-exclamation-triangle menu-icon k-mr-1 k-mb-1 k-pr-5"></span>Alarm Statistik</a>
                            </li>
                        }
                    </ul>
                    <div class="form-inline">
                        <ul class="navbar-nav">
                            @if (Session["sid"] != null)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Willkommen @Session["username"]
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="/Users/Logout">Logout</a></li>
                                    </ul>
                                </li>
                            }
                            <li class="nav-item k-mr-5">
                                @if (Session["sid"] == null)
                                {
                                    <a class="nav-link" href="/Users/Login"><span class="k-icon fas fa fa-user menu-icon menu-icon-navbar k-mb-1"></span>Login</a>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    @RenderBody()
</body>
</html>