﻿@model WebApplication2.Models.User

@{
    ViewBag.Title = "Login";
}

<section class="vh-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-6 d-none d-md-block">
                            <img src="~/Content/Images/login.jpg"
                                 alt="login form"
                                 class="img-fluid" style="border-radius: 1rem 0 0 1rem; height: 100%" />
                        </div>
                        <div class="col-md-6 col-lg-6 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                @using(Html.BeginForm("Login", "Users", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken();
                                <div class="d-flex align-items-center mb-3 pb-1">
                                    <img src="~/Content/Images/solarfocus-logo.jpg" class="img-fluid" alt="Alternate Text" />
                                </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                                    <div class="form-outline mb-4">
                                        <input type="text" name="username" id="username" class="form-control form-control-lg" />
                                        <label class="form-label" for="username">Username</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" name="password" id="password" class="form-control form-control-lg" />
                                        <label class="form-label" for="password">Password</label>
                                    </div>
                                    if (TempData["ErrorMessage"] != null) 
                                    {
                                        <div class="alert alert-danger">
                                            <p class="my-0">@TempData["ErrorMessage"]</p>
                                        </div>
                                    }
                                    <div class="pt-1 mb-4">
                                        <button type="submit" class="btn btn-dark btn-lg btn-block">Login</button>
                                    </div>

                                    <a class="small text-muted">Forgot password?</a>
                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a style="color: #393f81;">Register here</a></p>
                                    <a class="small text-muted">Terms of use.</a>
                                    <a class="small text-muted">Privacy policy</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>