﻿@model WebApplication2.Models.User
@{
    ViewBag.Title = "Registration";
}

<div class="container">
    <div class="row k-mt-13">
        <div class="col-5 mx-auto" style="background-color: whitesmoke; border-radius: 10px;">
            <h2 class="mt-3 loginForm">Registration</h2>
            @using (Html.BeginForm("Registration", "Users", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group mt-2">
                    <label for="exampleInputEmail1">First Name</label>
                    <input type="text" class="form-control" name="firstName" aria-describedby="firstName" placeholder="Enter First Name">
                </div>
                <div class="form-group mt-2">
                    <label for="exampleInputEmail1">Last Name</label>
                    <input type="text" class="form-control" name="lastName" aria-describedby="lastName" placeholder="Enter Last Name">
                </div>
                <div class="form-group mt-2">
                    <label for="exampleInputEmail1">E-Mail</label>
                    <input type="email" class="form-control" name="email" aria-describedby="email" placeholder="Enter E-Mail">
                </div>
                <div class="form-group mt-2">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" data-val-remote="&amp;#39;UserName&amp;#39; is invalid." class="form-control" name="username" aria-describedby="username" placeholder="Enter username">
                </div>
                <div class="form-group mt-2">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <div class="form-group mt-2">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password">
                </div>
                <button type="submit" class="btn btn-primary mb-3 mt-3">Register</button>
            }
        </div>
    </div>

</div>

