﻿/* colors
 #ED1C5B; light 
 #E20E4E; dark
*/

/* reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    box-sizing: border-box;
}

.menu-icon {
    color: white;
}

.menu-icon-navbar {
    font-size: 120%;
    margin-right: 5px;
}
/* Sidebar start here  */
.sidebar {
    position: fixed;
    background: #eeeeee;
    width: 200px;
    height: 100%;
    top: 40px;
    left: 0;
    z-index: 1;
}

.sidebar ul li {
    margin: 12px 0px;
    width: 200px;
}

.sidebar ul li a {
    color: #000000;
    padding: 15px 20px 15px 20px;
}

.sidebar ul li a:hover {
    margin-left: 5px;
    transition: 0.2s;
}


.iconClass-lg {
    border: none;
    background: none;
    color: #398AB9;
    font-size: 115%;
    padding-right: 20px;
}
/* Sidebar end Here  */

/* Main Content Section Start Here  */

.main {
    margin-left: 200px;
    padding: 50px 0 0 0;
}

.main h2 {
    margin-top: 20px;
}

.temp-file {
    text-decoration: none;
    white-space: nowrap
}
/*
div.k-widget.k-multiselect.k-multiselect-clearable ul#multiselect_maximus_taglist.k-reset span {
    margin-right: 15px;
}*/

@media screen and (max-width: 700px) {
    .sidebar {
        visibility: hidden;
    }
}