﻿#grid-tabela .k-grid tbody tr {
    height: 10px;
}

#grid-tabela .k-grid thead tr th,
#grid-tabela .k-grid tbody tr td 
{
    padding: 0px 5px !important;
}

span.k-floating-label-container {
    width: auto !important;
}

.setPadding span.k-dropdown {
    padding: 25px 5px 0 5px;
 }

span.k-textbox {
    width: 270px !important;
    margin-top: 24px;
    margin-right: 13px;
}

#grid-tabela {
    height: 100vh;
}

#Grid_Logdaten {
    font-size: 10px;
}

.k-switch-label-on,
.k-switch-label-off {
    display: block;
}

#information {
    margin-left: 0px !important;
}
#tooltipHide {
    color: red;
}

.datum {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.hideItem {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

#grid-tabela tr.k-master-row:hover {
    background-color: #B9B7BD !important;
}

#grid-tabela .k-widget .k-grid-header table thead tr th {
    padding: 0px;
    height: 30px;
}

#grid-tabela .k-widget .k-grid-header table thead tr th,
#grid-tabela .k-widget .k-grid-content-locked table tbody tr td,
#grid-tabela .k-widget .k-grid-content table tbody tr td {
    height: 15px !important;
}

#grid-tabela .k-widget .k-grid-header thead tr .k-header span.k-link {
    padding: 0;
    margin: 0 0 5px 5px;
}

div.k-tooltip.k-chart-tooltip.k-chart-shared-tooltip {
    white-space: normal;
    width: 420px;
    position: fixed !important;
    top: 120px !important;
    left: -50px !important;
}

.k-chart-tooltip td {
    padding: 0 10px 0 0;
}
#grid-tabela .k-widget .k-grid-content-locked table tbody .k-master-row td,
#grid-tabela .k-widget .k-grid-content table tbody .k-master-row td {
    padding: 0 0 0 5px;
}

.aussentempBackground {
    background-color: #d1d9ff;
}

.verdampfungstempBackground {
    background-color: #8e99f3;
}

.kondensationstempBackground {
    background-color: #ffa040;
}

.kompressordrehzahlBackground {
    background-color: #4c8c4a;
}

.uberhitzunhgVerdampferBackground {
    background-color: #60ad5e;
}

.uberhitzungKompressorBackground {
    background-color: #F3D5C0;
}

.coolingValveOpeningBackground {
    background-color: #b4ffff;
}

.OeffnungsgradExVentilHeizen {
    background-color: #f48fb1;
}

.fileName {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

.fileNameTitle {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: gray;
}

#grid-tabela .t-grid- table {
    table-layout: fixed;
}

.ecoTop, .vampAir, .therminator {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}
#alarmGrid {
    height: 75vh !important;
}

#alarmGrid .k-grid-content .k-auto-scrollable table tbody tr.k-master-row td.k-command-cell a.k-button a.k-button-icontext a.k-grid-edit {
    color: blue !important;
}
#alarmGrid .k-grid-content .k-auto-scrollable table tbody tr.k-master-row td.k-command-cell a.k-button a.k-button-icontext a.k-grid-delete 
{
    color: red !important;
}

.menu-icon {
    color: white;
}

.menu-icon-navbar {
    font-size: 120%;
    margin-right: 5px;
}

.nav-link {
    color: white !important;
}

.loginForm {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

/* Kendo-Grid */
.k-pager-numbers .k-link.k-state-selected {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.k-block > .k-header {
    color: #000000;
}

.k-panel > .k-header {
    color: #000000;
}

.k-grid {
    height: 100%;
}
/* Sidebar */

.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    padding: 70px 0 0 10px;
    border-right: 1px solid #d3d3d3;
}

.sidebar-nav li .nav-link {
    color: #333;
    font-weight: 500;
}

/*Radio Button List*/

.fieldlist {
    margin: 0 0 -1em;
    padding: 0;
}

.fieldlist li {
    list-style: none;
    padding-bottom: 1em;
}

/**
    NotFound page
*/
.alarm-info{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.back-to-diagram {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.k-i-undo{
    font-size: 150%;
}

.k-i-calendar {
    font-size: 300%;
}
/**
    Tabele Alarm statistik
*/
#grid-alarm-tabela .k-widget .k-grid-content table tbody tr {
    height: 10px;
}

#grid-alarm-tabela .k-widget .k-grid-content table tbody tr td {
    height: 15px;
}

#grid-alarm-tabela .k-widget .k-grid-content table tbody .k-master-row td {
    padding: 0 0 0 10px;
}

div.k-widget.k-tooltip.k-popup.k-reset.k-state-border-up{
    margin-top: 20px;
    margin-left: 20px;
}

circle{
    stroke:none;
}

.iconClass {
    border: none;
    background: none;
    color: #398AB9;
    font-size: 200%
}

.my-icon {
    font-size: 200%;
    border: none;
    background: none;
    color: #398AB9;
}

.iconClass-lg {
    border: none;
    background: none;
    color: #398AB9;
    font-size: 220%;
    padding-right: 44px;
}

span.k-icon.fa-cogs,
span.k-icon.fa-retweet,
span.k-icon.fa-undo {
    font-size: 95%;
}
span#Alarm:hover,
span#parameter:hover,
span#information:hover,
span#Tabela:hover {
    cursor: pointer;
    color: #2e2e2e;
}

/* Sidebar start here  */
.sidebar {
    position: fixed;
    background: #eeeeee;
    width: 200px;
    height: 100%;
    top: 40px;
    left: 0;
    z-index: 1;
}

.sidebar ul li {
    margin: 12px 0px;
    width: 200px;
}

.sidebar ul li a {
    color: #000000;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.sidebar ul li a:hover {
    margin-left: 5px;
    transition: 0.2s;
}

.upload-section {
    font-family: 'Roboto', sans-serif;
}
/*Sidebar end Here*/
div.k-widget.k-multiselect.k-multiselect-clearable ul#multiselect_Einstellungen_taglist.k-reset li.k-button span:first-child,
div.k-widget.k-multiselect.k-multiselect-clearable ul#multiselect_maximus_taglist.k-reset li.k-button span:first-child {
    padding-right: 25px;
}

@media screen and (max-width: 790px){
    .sidebar {
        visibility: hidden;
    }
}

@media screen and (max-width: 1537px){
  /*  #Chart_Logdaten {
        height: 560px !important;
    }*/

    div.k-tooltip.k-chart-tooltip.k-chart-shared-tooltip {
        white-space: normal;
        width: 410px;
        position: fixed !important;
        top: 30px !important;
        left: -50px !important;
    }

    div.col-1.align-self-center {
        padding-left: 5px;
        padding-right: 5px;
        width: fit-content;
        margin-bottom: 10px;
    }

    #previous {
        margin-left: 10px !important;
    }

    .dropdown-list {
        margin-bottom: 30px;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    .icon-options {
        padding-bottom: 15px;
        padding-right: 10px;
        padding-left: 5px;
        width: fit-content;
    }

    .iconClass-lg {
        font-size: 150%;
        padding-right: 30px;
    }

    .chart-options {
        padding-left: 20px;
        padding-right: 5px;
        width: max-content
    }

    button#setValue.my-icon.k.k-button.k-button-icon {
        padding-right: 0;
    }

    .my-icon {
        font-size: 120%;
    }

    p.mt-2.ms-2.mt-0.p-0.hideItem.float-end {
        margin-left: 0;
    }

    .hideItem {
        font-size: 12px;
    }

    span.k-switch-container {
        width: fit-content !important;
    }

    input#next.btn.btn-primary.float-end {
        width: 100px;
    }

    .btn-next {
        padding-right: 0;
        padding-left: 0;
    }
}

@media screen and (max-width: 1370px) {
    /*  #Chart_Logdaten {
        height: 560px !important;
    }*/

    div.k-tooltip.k-chart-tooltip.k-chart-shared-tooltip {
        white-space: normal;
        width: 410px;
        position: fixed !important;
        top: 30px !important;
        left: -50px !important;
    }

    div.col-1.align-self-center {
        padding-left: 5px;
        padding-right: 5px;
        width: fit-content;
        margin-bottom: 10px;
    }

    #previous {
        margin-left: 10px !important;
    }

    .dropdown-list {
        margin-bottom: 30px;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    .icon-options {
        padding-bottom: 15px;
        padding-right: 10px;
        padding-left: 5px;
        width: fit-content;
    }

    .iconClass-lg {
        font-size: 150%;
        padding-right: 30px;
    }

    .chart-options {
        padding-left: 20px;
        padding-right: 5px;
        width: max-content
    }

    button#setValue.my-icon.k.k-button.k-button-icon {
        padding-right: 0;
    }

    .my-icon {
        font-size: 120%;
    }

    p.mt-2.ms-2.mt-0.p-0.hideItem.float-end {
        margin-left: 0;
    }

    .hideItem {
        font-size: 12px;
    }

    span.k-switch-container {
        width: fit-content !important;
    }

    input#next.btn.btn-primary.float-end {
        width: 100px;
    }

    .btn-next {
        padding-right: 0;
        padding-left: 0;
    }
}


